<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<title>@Cameron</title>

		<link rel="stylesheet" href="static/css/normalize.css">

		<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
		<link rel='stylesheet prefetch' href='/static/js/jquery.mCustomScrollbar.min.css'>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="/static/js/jquery-latest.js"></script>
	</head>
    <body>
      <div class="topnav" id="myTopnav">
        <a href="{{ url_for('reply') }}">Home</a> class="active">Home</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/jQuery.min.js') }}"></script>
      </body>
</html>